@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
*{
margin: 0;
padding: 0;
box-sizing: border-box;
color: white;

}

video{
  width: 100%;
  height: 100vh;
  object-fit: cover;
  background-color: rgb(0, 0, 0);
  position: absolute;
  z-index: -1;
}



.bg-overley{
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.o{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: aliceblue;
  align-items: center;
  
}

h1{
  font-family: 'Righteous', cursive;
  font-size: 2.2em;

}
.order{
  background-color: rgba(0, 0, 0, 0.238);
  color: rgba(251, 251, 251, 0.774);
  border: none;
  width: 200px;
  height: 60px;
  border-radius: 8px;
  border: 1px solid #fefefe85;
  margin-top: 30px;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 10px;
}

.gallery{
  font-family: 'Righteous', cursive;
  font-size: 2.2em;
  margin: 10px;
}

#sidebar{
  background-color: rgba(0, 0, 0, 0.785);
  color: rgb(50, 211, 38);
  padding-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}
a{
  text-decoration: none;
  padding-top: 10px;
}

.zina{
  background-color: red;
}

.logo{
  font-size: 2.2rem;
}
.menuitem{
  font-size: 16px;
  border-bottom: 1px solid rgba(250, 250, 250, 0.243);
  text-align: left;
  padding-left: 10px;
  cursor: pointer;
  padding-top: 5px;
}


.divi{
  background-color: red;
  width: 100px;
  height: 100px;
}

.content{
  width: 90%;
  height: 90%;
  background-color: rgba(255, 255, 255, 0.043);
  border-radius: 8px;
  border: 1px solid #fefefe85;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.ordersection{
  background-color: rgba(218, 218, 218, 0.068);
  border-radius: 6px;
  padding: 15px;
  font-family: 'Rubik', sans-serif;
}

.text{
  text-align: center;
  padding: 20px;
  font-family: 'Rubik', sans-serif;

}

.call{
  border: none;
  border-radius: 8px;
  width: 8rem;
  height: 2.2rem;
  background-color: rgb(0, 184, 89);
  font-size: 1em;
  margin: 10px;
  letter-spacing: 2px;
  font-family: 'Rubik', sans-serif;

}

.calltext{
  font-family: 'Rubik', sans-serif;

}




.zina{
  background-color: rgba(0, 0, 0, 0.891);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}




.photos{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3px;
}

.item{
  width: 220px;
}

img{
  width: 99%;
  height: 99%;
  border-radius: 10px;
  border: 1px solid rgba(157, 156, 156, 0.274);
}

.zinikela{
  background-color: blueviolet;
  cursor: pointer;
}

.ziniko{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 99%;
}


.p{
  margin-top: 50px;
  height: 100px;
  letter-spacing: 1px;
  font-family: 'Rubik', sans-serif;

}

.bottomtext{
  background-color: rgb(0, 0, 0);
  font-size: 14px;
  border-radius: 8px;
}

.logonottom{
  font-family: 'Righteous', cursive;
  font-weight: 700;
  letter-spacing: 2px;
  color: rgb(95, 226, 43);
}


.wow{
  background-color: rgba(95, 226, 43, 0.408);
}